.input-file-button{
    padding: 6px 25px;
    background-color:#0D6EFD;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }

  .groups_border > .jacketInfo{
    display: inline-block;
      /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    width: 100px;
    height: 100px;
    margin: 10px 18px;
    /* this fix is needed for IE7- */
  }
  
  .chartToolTip{
    width:"100px";
    white-space: pre-line;
  }

  .groups{
    width: 300px;
    height: 125px;
  }
  
  .other{
    width: 100%;
    max-width:125px;
    display:block;
    margin: 0 auto;
    height: 100%;
    max-height: 125px;
  }
  
  .jackets{
    width: 100%;
    max-width:100px;
    display:block;
    margin: 0 auto;
    height: 100%;
    max-height: 100px;
  }